[Unit]
Description=Mount unit for gtk-common-themes, revision 1198
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gtk-common-themes_1198.snap
Where=/snap/gtk-common-themes/1198
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
