[Unit]
Description=Mount unit for gnome-characters, revision 254
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_254.snap
Where=/snap/gnome-characters/254
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
