[Unit]
Description=Mount unit for core, revision 6673
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_6673.snap
Where=/snap/core/6673
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
