[Unit]
Description=Mount unit for core18, revision 941
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core18_941.snap
Where=/snap/core18/941
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
